# IDEs
.idea/

# Go binaries
pmp-cloud-inspector
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
node_modules/

# NPM files
package-lock.json
pkg/ui/package.json
pkg/ui/input.css
pkg/ui/tailwind.config.js

# Output files
*.json
*.yaml
*.dot
*.png
!examples/*.yaml

# Temp
/tmaas